:root {
  --primary-font: "Roboto", sans-serif;
  --accent-color: #404BBF;
  --accent-text: #FFFFFF;
}

body {
  font-family: var(--primary-font);
  font-weight: 500;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
/* потім забарти текст соц.мереж і стилі .link a */
.link,
.link a {
  text-decoration: none;
}
/*==========COMPONENTS========== */
.text-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.subtitle {
  font-weight: inherit;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* headings */
.desc-headings {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
/* headings */

/* SOCIALS Потім видалити */
.socials {
  color: currentColor;
}
/* SOCIALS /Потім видалити */

/*==========/COMPONENTS========== */

/*==========MENU ========== */
/*==========Logo========== */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-text {
  color: #2e2f42;
}
/*==========/Logo========== */

/*==========MENU LINK========== */
.menu-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
/*==========/MENU LINK========== */

/*==========ADDRESS========== */
.address-contacts {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: currentColor;
}
.address-contacts:hover,
.address-contacts:focus {
  color: var(--accent-color);
}

/*==========/ADDRESS========== */

/*==========HERO========== */

.hero {
background-color: #2E2F42;}

.modal-btn {
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: var(--accent-text);

  background: #4d5ae5;

  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background: var(--accent-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/*==========/HERO========== */

/*==========  OUR TEAM========== */
.desc {
background-color: #F4F4FD;}

.desc-item  {
background:  #FFFFFF;}
/*==========/OUR TEAM========== */

/*==========BUTTOMS FILTER PORTFOLIO========== */
.filter-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: #4d5ae5;
  background: #f4f4fd;
}
.filter-btn:active {
  color: var(--accent-text);
  background: var(--accent-color);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--accent-text);
  background: var(--accent-color);
}
/*==========/BUTTOMS FILTER========== */

/*==========FOOTER========== */
.footer {
background-color: #2E2F42;}

.logo-footer {
color: #F4F4FD;}

.copyright {
  color: #f4f4fd;
}
